<!--ADD TO CART-->
@using System.Net.Http
@using Organic_Food_01_EXM.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();
}

<header id="header">
    <!-- Topbar -->
    <div class="topbar">
        <!-- Close Topbar -->
        <div class="close-topbar">
            <i class="zmdi zmdi-close"></i>
        </div>

        <!-- Topbar Content -->
        <div class="container topbar-content">
            <div class="row">
                <!-- Topbar Left -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="topbar-left d-flex">
                        <div class="email">
                            <i class="fa fa-envelope" aria-hidden="true"></i>Email: motiur922083@gmail.com
                        </div>
                        <div class="skype">
                            <i class="fa fa-skype" aria-hidden="true"></i>Skype: motiur
                        </div>
                    </div>
                </div>

                <!-- Topbar Right -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="topbar-right d-flex justify-content-end">
                        <!-- My Account -->
                        <div class="dropdown account">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                My Account
                            </div>
                            <div class="dropdown-menu">
                                <partial name="_LoginPartial" />
                            </div>
                        </div>

                        <!-- Language -->
                        <div class="dropdown language">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Freshmart-Organic/img/language-en.jpg" alt="Language English">
                            </div>
                            <div class="dropdown-menu">
                                <div class="item">
                                    <a href="#" title="Language English"><img src="~/Freshmart-Organic/img/language-en.jpg" alt="Language English"> English</a>
                                </div>
                                <div class="item">
                                    <a href="#" title="Language French"><img src="~/Freshmart-Organic/img/language-fr.jpg" alt="Language French"> French</a>
                                </div>
                            </div>
                        </div>

                        <!-- Currency -->
                        <div class="dropdown currency">
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                USD
                            </div>
                            <div class="dropdown-menu">
                                <div class="item">
                                    <a href="#" title="USD">USD</a>
                                </div>
                                <div class="item">
                                    <a href="#" title="EUR">EUR</a>
                                </div>
                                <div class="item">
                                    <a href="#" title="GBP">GBP</a>
                                </div>
                            </div>
                        </div>
                        @if (userRole == "Admin")
                        {
                            <div class="dashboard">
                                <a asp-area="Dashboard" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Open Topbar -->
        <div class="container active">
            <div id="toggle-topbar"><i class="zmdi zmdi-plus"></i></div>
        </div>
    </div>

    <!-- Header Top -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Search -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-search">
                        <form asp-area="Shopper" asp-controller="Home" asp-action="Search" method="get">
                            <input type="text" class="form-input" placeholder="Search" value="@ViewData["GetProduct"]" name="SearchText">
                            <button type="submit" class="fa fa-search"></button>
                        </form>
                    </div>
                </div>

                <!-- Logo -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo">
                        <a asp-area="Shopper" asp-controller="Home" asp-action="Index">
                            <img class="img-responsive" src="~/Freshmart-Organic/img/logo.png" alt="Logo">
                        </a>
                    </div>

                    <span id="toggle-mobile-menu"><i class="zmdi zmdi-menu"></i></span>
                </div>

                <!-- Cart -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="block-cart dropdown">
                        <div class="cart-title">
                            <a asp-area="Shopper" asp-controller="Home" asp-action="Cart">
                                <i class="fa fa-shopping-basket"></i>
                                <span class="cart-count">@count</span>
                            </a>
                        </div>
                        <!--Drop Cart-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Menu -->
    <div id="main-menu">
        <ul class="menu">
            <li class="dropdown">
                <a asp-area="Shopper" asp-controller="Home" asp-action="Index" title="Homepage">Home</a>
            </li>

            <li class="dropdown">
                <a asp-area="Shopper" asp-controller="Home" asp-action="Product" title="Product">Product</a>
                <div class="dropdown-menu">
                    <ul>
                        <li class="has-image">
                            <img src="~/Freshmart-Organic/img/product/product-category-1.png" alt="Product Category Image">
                            <a asp-area="Shopper" asp-controller="Home" asp-action="Vegetable" title="Vegetables">Vegetables</a>
                        </li>
                        <li class="has-image">
                            <img src="~/Freshmart-Organic/img/product/product-category-2.png" alt="Product Category Image">
                            <a asp-area="Shopper" asp-controller="Home" asp-action="Fruit" title="Fruits">Fruits</a>
                        </li>
                        <li class="has-image">
                            <img src="~/Freshmart-Organic/img/product/product-category-3.png" alt="Product Category Image">
                            <a asp-area="Shopper" asp-controller="Home" asp-action="Bread" title="Bread">Bread</a>
                        </li>
                        <li class="has-image">
                            <img src="~/Freshmart-Organic/img/product/product-category-4.png" alt="Product Category Image">
                            <a asp-area="Shopper" asp-controller="Home" asp-action="Juice" title="Juices">Juices</a>
                        </li>
                        <li class="has-image">
                            <img src="~/Freshmart-Organic/img/product/product-category-5.png" alt="Product Category Image">
                            <a asp-area="Shopper" asp-controller="Home" asp-action="TeaCoffee" title="Tea and coffee">Tea and coffee</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a asp-area="Shopper" asp-controller="Content" asp-action="AboutUs">About Us</a>
            </li>

            <li>
                <a asp-area="Shopper" asp-controller="Content" asp-action="Information">Contact</a>
            </li>
        </ul>
    </div>
</header>