@model Organic_Food_01_EXM.Models.ContactInfo
@{
    ViewData["Title"] = "Information";
}

<div class="container">
    <div class="contact-page">
        <div class="contact-info">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="item d-flex">
                        <div class="item-left">
                            <div class="icon"><i class="zmdi zmdi-email"></i></div>
                        </div>
                        <div class="item-right d-flex">
                            <div class="title">Email:</div>
                            <div class="content">
                                <a href="mailto:support@domain.com">motiur@gmail.com</a><br>
                                <a href="mailto:contact@domain.com">contact@domain.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="item d-flex justify-content-center">
                        <div class="item-left">
                            <div class="icon"><i class="zmdi zmdi-home"></i></div>
                        </div>
                        <div class="item-right d-flex">
                            <div class="title">Address:</div>
                            <div class="content">
                                23 Suspendis matti, Visaosang Building VST<br> District, NY Accums, North American
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="item d-flex justify-content-end">
                        <div class="item-left">
                            <div class="icon"><i class="zmdi zmdi-phone"></i></div>
                        </div>
                        <div class="item-right d-flex">
                            <div class="title">Holine:</div>
                            <div class="content">
                                0190-930-2126<br>
                                0192-243-7143
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-intro">
            <p>“Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet mauris. Proin gravida nibh vel velit auctor”</p>
            <img src="~/Freshmart-Organic/img/contact-icon.png" alt="Contact Comment">
        </div>

        <div class="contact-form form">
            <form asp-action="Information" method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <input type="text" asp-for="CustomerName" class="form-control" placeholder="YOUR NAME">
                    </div>

                    <div class="col-md-6">
                        <input type="text" asp-for="EmailAddress" placeholder="YOUR EMAIL">
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" asp-for="Subject" class="form-control" placeholder="SUBJECT">
                </div>

                <div class="form-group">
                    <textarea rows="10" type="text" asp-for="Message" class="form-control" placeholder="MESSAGE"></textarea>
                </div>

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Send Message">
                </div>
            </form>
        </div>
    </div>
</div>



<!---------------------Sweet Alert----------------------->
<!--<input type="button" value="Alert Message" name="alertMessage" id="btnAlermessage" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    // Problem related to Boostrap 4 according to issue in link below && Pagination Style CSS
    $(document).ready(function () {
        $('ul.pagination > li.disabled > a').addClass('page-link');
    });</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAlermessage").click(function () {
            //alert("Alert Message");
            //swal("Here is the alert Message")
            swal("Good job!", "You clicked the button!", "success");
        })
    });</script>-->